div.navbar{
    padding:20px 0;
    background-color: rgb(223, 246, 223);
}
a.navbar-brand{
    font-size: 20px;
}
.home-title{
    font-size: 40px;
    margin-top: 100px;
}
.login-wrapper{
    width: 1000px;
    margin: 100px auto;
}
.input-group{
    margin-bottom: 15px;

}
.login-wrapper.login-btn{
cursor: pointer;
width: 300px;
margin: 20px auto;
}